<nav>
	<div class="ui large inverted tiered menu">
		<div class="menu">
			<div class="item">
				<%= dir.breadcrumb_html %>
			</div>
			<div class="right menu">
			<% if session[:email] %>
				<div class="item">
				<% if session[:admin] %>
					<i class="red star icon" title="Administrator"></i> 
				<% end %>
					Logged in as <%= session[:name] %>
				</div>
				<div class="item">
					<a class="ui black button" href="/logout">
						Log out
					</a>
				</div>
			<% else %>
				<div class="item">
					<a class="ui purple button" href="/login">
						<i class="github icon"></i> Log in
					</a>
				</div>
			<% end %>
			</div>
		</div>
        <div class="ui sub menu">
	<% if dir.directories.empty? %>
        <% dir.siblings.each do |name, active| %>
            <a class="<%= 'active ' if active %>item" href="../<%= h name %>/"><%= name %></a>
        <% end %>
    <% else %>
		<% dir.directories.each do |name| %>
			<a class="item" href="<%= h name %>/"><%= name %></a>
		<% end %>
	<% end %>
		</div>
	</div>
</nav>

<main>
	<div class="ui images">
	<% dir.entries.each do |name| %>
		<a class="ui medium image" href="?view=<%= u name %>">
			<img src="<%= u name %>" alt="<%= h name %>" title="<%= h name %>">
		</a>
	<% end %>
	</div>
</main>