<nav>
	<div class="ui large inverted tiered menu">
		<div class="menu">
			<div class="item">
				<%= dir.breadcrumb_html %>
			</div>
		</div>
	<% unless dir.directories.empty? %>
		<div class="ui sub menu">
		<% dir.directories.each do |name| %>
			<a class="item" href="<%= h name %>/"><%= name %></a>
		<% end %>
		</div>
	<% end %>
	</div>
</nav>

<main>
	<div class="ui images">
	<% dir.entries.each do |name| %>
		<a class="ui medium image" href="<%= h name %>">
			<img src="<%= h name %>" alt="<%= h name %>" title="<%= h name %>">
		</a>
	<% end %>
	</div>
</main>