<form method="post" action="/logout">
	<nav>
		<div class="ui large inverted tiered menu">
			<div class="menu">
				<div class="item">
					<%= dir.breadcrumb_html %>
				</div>
				<div class="right menu">
				<% if session[:email] %>
					<div class="item">
					<% if session[:admin] %>
						<i class="red star icon" title="Administrator"></i> 
					<% end %>
						Logged in as <%= session[:name] %>
					</div>
					<% if session[:admin] %>
					<a class="item" href="/upload?path=<%= u dir.path %>">
						<i class="upload icon"></i> Upload
					</a>
					<% end %>
					<button class="item" type="submit">
						<i class="sign out icon"></i> Log out
					</button>
				<% else %>
					<a class="item" href="/login">
						<i class="github icon"></i> Log in
					</a>
				<% end %>
				</div>
			</div>
	        <div class="ui sub menu">
		<% if dir.directories.empty? %>
	        <% dir.siblings.each do |name, active| %>
	            <a class="<%= 'active ' if active %>item" href="../<%= h name %>/"><%= name %></a>
	        <% end %>
	    <% else %>
			<% dir.directories.each do |name| %>
				<a class="item" href="<%= h name %>/"><%= name %></a>
			<% end %>
		<% end %>
			</div>
		</div>
	</nav>
</form>

<main>
	<div class="ui images">
	<% dir.entries.each do |name| %>
		<a class="ui medium image" href="?view=<%= u name %>">
			<img src="<%= u name %>" alt="<%= h name %>" title="<%= h name %>">
		</a>
	<% end %>
	</div>
</main>