<nav>
	<div class="ui large inverted tiered menu">
		<div class="menu">
			<div class="item">
				<%= dir.breadcrumb_html %>
			</div>
			<div class="right menu">
			<% if session[:email] %>
				<div class="item">
				<% if session[:admin] %>
					<i class="red star icon" title="Administrator"></i> 
				<% end %>
					Logged in as <%= session[:name] %>
				</div>
				<div class="item">
					<a class="ui black button" href="/logout">
						Log out
					</a>
				</div>
			<% else %>
				<div class="item">
					<a class="ui google plus button" href="/login">
						<i class="google plus icon"></i> Log in
					</a>
				</div>
			<% end %>
			</div>
		</div>
	<% unless dir.directories.empty? %>
		<div class="ui sub menu">
		<% dir.directories.each do |name| %>
			<a class="item" href="<%= h name %>/"><%= name %></a>
		<% end %>
		</div>
	<% end %>
	</div>
</nav>

<main>
	<div class="ui images">
	<% dir.entries.each do |name| %>
		<a class="ui medium image" href="?view=<%= u name %>">
			<img src="<%= h name %>" alt="<%= h name %>" title="<%= h name %>">
		</a>
	<% end %>
	</div>
</main>