!!! html
%title= "Images in #{ directory.name }"
%link{ rel: :stylesheet, type: 'text/css', href: '/styles/main' }
%script{ src: '/assets/blazy.min.js' }

%header
  %h1= "#{ directory.name } (#{ directory.count })"
  %aside
    - if session[:user]
      %form{ method: :post, action: '/logout' }
        %p
          %img.avatar{ src: session[:avatar], alt: "#{ session[:name] }'s avatar" }
          = 'Logged in as '
          %span.logged-in= session[:name]
          %button{ type: :submit }= 'Logout'
    - else
      %form{ method: :get, action: '/auth/github' }
        %p
          %button{ type: :submit }= 'Login with GitHub'

%main
  - unless directory.root?
    %a.tile{ href: '..' }<
      .caption= '..'
  - directory.directories.each do |subdir|
    %a.tile{ href: "#{ u(subdir.name) }/" }<>
      - if subdir.tile_src
        %img{ alt: subdir.name, data: { src: u(subdir.tile_src) } }<>
      .count<>= subdir.count
      .caption= subdir.name
  - directory.images.each do |name|
    %a.tile{ href: u(name) }<>
      %img{ alt: name, title: name, data: { src: u(name) } }

:javascript
  (function(){
    var bLazy = new Blazy({selector: 'img'});
  }());